/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: lightgrey;
  }
  
  header {
    background: white;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 100px;
    font-size: 28px;
    color: darkcyan;
    text-align: left;
  }
  
  h2 {
    margin-top: 70px;
    margin-left: 90px;
    font-size: 35px;
    color: darkcyan;
  }
  
  a {
    color: #d21034;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1400px;
    margin-left: 100px;
  }

  #landing,
  #landing-image {
    margin-top: 50px;
    float: left;
    background-color: white;
  }

  #visualizations {
      float: right;
      background-color: white;
  }
  
  #figure {
    position: relative;
  }
  
  #landing-title {
    position: absolute;
    top: 10px;
    left: 30px;
  }
  
  #landing {
    width: 100%;
  }
  
  #visualizations {
    width: 50%;
  }
  
  #landing-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  .box-1 {
    width: 500px;
    height: 500px;
    margin-right: 20px;
    top: 10px;
    left: 10px;
  }

  .box-2 {
    width: 500px;
    height: 500px;
    margin-right: 20px;
    top: 10px;
    right: 10px;

  }

  .box-3 {
    width: 500px;
    height: 500px;
    margin-right: 20px;
    top: 50px;
    left: 10px;

  }

  .box-4 {
    width: 500px;
    height: 500px;
    margin-right: 20px;
    top: 50px;
    right: 10px;
  }